nav {
    background-color: $primary-color;
    color: rgb(253, 253, 251);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    ul {
        display: flex;
        align-items: center;
        li {
            font-size: 1.3rem;
            font-weight: bold;
            padding: 0 1rem 0 1rem; 
            a:hover {
                color: $secondary-color;
            }
        }
    }
}