nav {
    background-color: $primary-color;
    color: $fourth-color;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    a {
        display: flex;
        align-items: center;
    }
    .brand-logo {
        @media(min-width: 768px) {
            padding-left: 1.5rem;
        }
    }
    .brand-logo h1 {
        padding-left: 0.5rem;
        &:hover {
            color: $secondary-color;
        }
    }
    .shopping-cart {
        font-size: 1.5rem;
        padding-right: 0.5rem;
        @media(min-width: 768px) {
            padding-right: 2rem;
        }
        transition: color 0.5s;
        &:hover {
            color: $secondary-color;
        }
    }  
}

