/* COLORS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* FONTS */
body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  font-family: 'Finger Paint', cursive;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  color: #2f4f4f;
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
}

nav {
  background-color: #2f4f4f;
  color: #fdfdfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand-logo h1 {
  padding-left: 0.5rem;
}

nav .brand-logo h1:hover {
  color: #b8e6e6;
}

nav .shopping-cart {
  font-size: 1.3rem;
  font-weight: bold;
}

nav .shopping-cart:hover {
  color: #b8e6e6;
}

footer {
  background-color: #2f4f4f;
  color: #fdfdfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* BANNER */
.teddy-banner {
  background-image: url("../images/teddy_banner.jpg");
  background-size: cover;
  min-height: 12rem;
  background-position: center;
}

@media (min-width: 1025px) {
  .teddy-banner {
    min-height: 20rem;
  }
}

/* COMPANY DESCRIPTION */
.company-description {
  padding: 1.2rem;
}

@media (min-width: 1025px) {
  .company-description {
    padding: 0 10rem 0 10rem;
  }
}

.company-description__container {
  background-color: #b8e6e6;
  margin: auto;
}

.company-description__container__text {
  padding: 0.8rem;
  line-height: 2rem;
}

#products__cards {
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#products__cards div {
  border: 0.2rem solid #CA6F1E;
  border-radius: 5%;
  margin-bottom: 2rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  #products__cards div {
    min-width: 20rem;
    width: 45%;
    margin: 0 0.5rem 2rem 0.5rem;
  }
}

@media (min-width: 1045px) {
  #products__cards div {
    width: 30%;
  }
}

@media (min-width: 1385px) {
  #products__cards div {
    width: 22%;
  }
}

@media (min-width: 1725px) {
  #products__cards div {
    width: 19%;
  }
}

#products__cards div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 15rem;
}

#products__cards div span {
  font-size: 1.3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
}
/*# sourceMappingURL=styles.css.map */