/* -------------------- CART --------------------*/

.cart-title {
    display: flex;
    justify-content: center;
    color: $primary-color;
    margin: 3rem 0 0 0;
}

#cart-card {
    border: 0.3em solid darken($secondary-color, 15%);
    width : 90%; 
    margin: auto;
    margin-top: 1em;
    margin-bottom : 2em;
    padding: 1em 3em 1em 3em;
    max-width: 55em;
    display: flex;
    flex-direction: column;
    img {
        height: 10rem;
        width: 15rem;
        object-fit: cover;
    }
    div {
        font-size: 1.3rem;
        margin: 1em 0 0.5em 0;
    }
}

.product-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width : 570px) {
        flex-direction: row;
    }
}

#total-costs {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 3em;
}

/* -------------------- FORM --------------------*/

/*.form-title {
}*/

#cart-form {
    border: 0.3em solid $tertiary-color;
    width : 90%; 
    margin: auto;
    margin-top: 1em;
    margin-bottom : 3em;
    padding: 1em 3em 1em 3em;
    max-width: 55em;
    display: flex;
    flex-direction: column;
    div {
        margin: 1em 0 0.5em 0;
    }
    label {
        font-size: 1.3rem;
    }
    input {
        font-size: 1.2rem;
    }
}

#order-button {
    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: $tertiary-color;
    &::after {
        background-color: darken($tertiary-color, 10%);
    }
}