.cart-title {
    display: flex;
    justify-content: center;
    color: $primary-color;
    margin: 3rem 0 0 0;
}

#cart-card {
    border: 0.3em solid darken($secondary-color, 15%);
    width : 90%; 
    margin: auto;
    margin-top: 1em;
    margin-bottom : 3em;
    padding: 1em;
    display: flex;
    max-width: 55em;
    justify-content: space-around;
    img {
        height: 10rem;
        /*@media (min-width : 440px) {

        }
        @media (min-width : 730px) {

        }*/
    }
    div {
        font-size: 1.3rem;
        margin: 1em 0 0.5em 0;
    }

}

