/* BANNER */

.teddy-banner {
    background-image: url("../images/teddy_banner.jpg");
    background-size: cover;
    min-height: 12rem;
    background-position: center;
    @media (min-width: 1025px) {
        min-height: 20rem;
    }
}

/* COMPANY DESCRIPTION */
.company-description__container {
    background-color: $secondary-color;
    width: 90%;
    margin: auto;
    &__text {
        padding: 0.8rem;
        line-height: 1.5rem;
    }
}

/*#products__cards div {
    background-color: brown;
}*/
