/* BANNER */

.teddy-banner {
    background-image: url("../images/teddy_banner.jpg");
    background-size: cover;
    min-height: 12rem;
    background-position: center;
    @media (min-width: 1025px) {
        min-height: 20rem;
    }
}

/* COMPANY DESCRIPTION */
.company-description {
    background-color: $secondary-color;
}

