.confirmation {
    border: 0.3em solid darken($secondary-color, 15%);
    width : 90%; 
    margin: auto;
    margin-top: 6em;
    margin-bottom : 6em;
    padding: 1em 1em 1em 1em;
    max-width: 55em;
    display: flex;
    flex-direction: column;
    h2 {
        padding: 2em 0 2em 0;
        font-size: 1.5rem;
    }
}