/* BANNER */

.teddy-banner {
    background-image: url("../images/teddy_banner.jpg");
    background-size: cover;
    min-height: 12rem;
    background-position: center;
    @media (min-width: 1025px) {
        min-height: 20rem;
    }
}

/* TITLE : "Our Products" */
.products__title, .company-description__title {
    display: flex;
    justify-content: center;
}